<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.atlas.framework.persistence.mybatis.product.mapper.CategoryMapper">

    <resultMap id="CategoryMap" type="org.atlas.business.product.domain.entity.Category">
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <select id="findAll" resultMap="CategoryMap">
        SELECT *
        FROM category
    </select>
</mapper>
