<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.atlas.framework.persistence.mybatis.product.mapper.ProductMapper">

    <resultMap id="ProductMap" type="org.atlas.business.product.domain.entity.Product">
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <select id="findByIdIn" parameterType="list" resultMap="ProductMap">
        SELECT *
        FROM product
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="increaseQuantity">
        UPDATE product
        SET quantity = quantity + #{amount}
        WHERE id = #{id}
    </update>

    <update id="decreaseQuantity">
        UPDATE product
        SET quantity = quantity - #{amount}
        WHERE id = #{id}
          AND quantity >= #{amount}
    </update>
</mapper>
