<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.atlas.framework.persistence.mybatis.user.mapper.UserMapper">

    <resultMap id="UserMap" type="org.atlas.business.user.domain.entity.User">
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <select id="findByIdIn" parameterType="list" resultMap="UserMap">
        SELECT *
        FROM users
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="findByEmail" resultMap="UserMap">
        SELECT *
        FROM users
        WHERE email = #{email}
    </select>

    <update id="decreaseCredit">
        UPDATE users
        SET credit = credit - #{amount}
        WHERE id = #{id}
          AND credit >= #{amount}
    </update>
</mapper>
