<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.atlas.framework.persistence.mybatis.customer.mapper.CustomerMapper">

    <resultMap id="CustomerMap" type="org.atlas.customer.domain.entity.Customer">
        <result column="user_id" property="userId" />
        <result column="first_name" property="firstName" />
        <result column="last_name" property="lastName" />
        <result column="phone_number" property="phoneNumber" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <select id="findByUserIdIn" parameterType="list" resultMap="CustomerMap">
        SELECT c.*
        FROM customer c
        WHERE c.user_id IN
        <foreach item="userId" collection="userIds" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>

    <select id="findByUserId" resultMap="CustomerMap">
        SELECT c.*
        FROM customer c
        WHERE c.user_id = #{userId}
    </select>

    <update id="decreaseCredit">
        UPDATE customer c
        SET c.credit = c.credit - #{amount}
        WHERE c.user_id = #{userId}
          AND c.credit >= #{amount}
    </update>
</mapper>
